.main-image-container
  a(href="#")
    .main-image-arrow.left
  .main-image-content
    .main-image-title
      | ПРОИЗВОДИМ И ПРОДАЕМ ДВЕРИ
    .main-image-text
      | ПРОТИВОПОЖАРНЫЕ,
      br
      | ВЗЛОМОСТОЙКИЕ И РАДИАЦИОННОЙ ЗАЩИТЫ
      br
      | ОПТОМ И В РОЗНИЦУ
    .main-image-buy
      a(href="#") ЗАКАЗАТЬ
  a(href="#")
    .main-image-arrow.right
