.advert-container
  .advert-title
    | ПРОИЗВОДИМ И ПРОДАЕМ ДВЕРИ
  .advert-text
    | ПРОТИВОПОЖАРНЫЕ,
    br
    | ВЗЛОМОСТОЙКИЕ И РАДИАЦИОННОЙ ЗАЩИТЫ
    br
    | ОПТОМ И В РОЗНИЦУ
  .advert-buy
    | ЗАКАЗАТЬ