.goods-card-container
  .goods-image-column
    .goods-card-big-image(style="background:url('/images/door.png')")
      .goods-arrow.left
      .goods-arrow.right

    .goods-image-list
      .goods-small-image(style="background-image: url('/images/door.png')")
      .goods-small-image.center(style="background-image: url('/images/door.png')")
      .goods-small-image(style="background-image: url('/images/door.png')")
      .goods-small-image(style="background-image: url('/images/door.png')")
      .goods-small-image.center(style="background-image: url('/images/door.png')")
      .goods-small-image(style="background-image: url('/images/door.png')")
  .goods-description-column
    table.goods-table(border="0" cellspacing="0" width="287")
      thead
      tbody
        tr
          td asdasd
          td qweqwe
        tr
          td qweqew
          td qweqwe
        tr
          td asdasd
          td qweqwe
        tr
          td qweqew
          td qweqwe
        tr
          td asdasd
          td qweqwe
        tr
          td qweqew
          td qweqwe