.goods-card-container
  .goods-image-column
    .goods-card-big-image(style="background:url('/images/door.png')")
      .goods-arrow.left
      .goods-arrow.right
    .goods-image-list
      .goods-small-image(style="background-image: url('/images/door.png')")
      .goods-small-image.center(style="background-image: url('/images/door.png')")
      .goods-small-image(style="background-image: url('/images/door.png')")
      .goods-small-image(style="background-image: url('/images/door.png')")
      .goods-small-image.center(style="background-image: url('/images/door.png')")
      .goods-small-image(style="background-image: url('/images/door.png')")
  .goods-description-column
    div(style="overflow: auto;")
      table.goods-table(border="0" cellspacing="0" width="287")
        thead
        tbody
          tr
            td Ширина
            td от 350 мм
          tr
            td Высота
            td от 1200 мм
          tr
            td Толщина полотна
            td 70мм
          tr
            td Вес
            td 70 кг
          tr
            td Цвет по каталогу
            td RAL
          tr
            td Замок
            td Nemef
          tr
            td Фурнитура
            td Nemef
          tr
            td Гарантия
            td 2 года
      .goods-price-container
        .goods-price-title от 8880 руб.
        .goods-price-discount
          | При единовременном
          | заказе более 30 дверей
          | предоставляется
          br
          span скидка - 5%
        .goods-price-button ЗАКАЗАТЬ
    .goods-textual-description-container
      .goods-textual-description-title Описание
      .goods-textual-description
        | Противопожарные двери изготавливаются из прочной высококачественной стали, обладают превосходными протекционными характеристиками и шумоизоляционными свойствами. Их поверхность покрыта антикоррозионной порошковой краской, которая вспучивается при контакте с пламенем и создает теплоизоляционный барьер.
        br
        br
        | Такие изделия не подвергаются механическим повреждениям, надежно защищают от распространения открытого огня и продуктов горения при возникновении пожара, а также создают дополнительное препятствие на пути у злоумышленников.
        br
        br
        | Мы изготовим и поставим Вам в любую точку России и СНГ противопожарные двери: одностворчатые (однопольные), двустворчатые (двупольные), с окном (остекленные) по Вашим размерам в любой комплектации поз заказ, из металла, окрашенные порошковой краской, с декоративной отделкой  без, для любого жилого и нежилого помещения. Возможность изготовления дверей ЛЮБОГО необходимого размера.
        br
        br
        | Получите БЕСПЛАТНУЮ консультацию и уточните необходимую комплектацию, количество дверей и цену по телефону
        span(style="color: rgba(1, 91, 126, 1)") &nbsp; +7 495 419 08 15
        br
        | При крупных заказах предоставляется
        span(style="color: rgba(180, 66, 66, 1)") &nbsp; СПЕЦИАЛЬНАЯ цена.