doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .background
      .modal
        .modal-form
          .modal-header
            .modal-question-image
            .modal-title Задать вопрос
            center
              form
                input(class="modal-input" placeholder="Ваше имя")
                div
                input(class="modal-input" placeholder="E-mail")
                div
                textarea(class="modal-input" placeholder="Ваш вопрос")
          .modal-footer
            .modal-button-container
            .modal-button ОТПРАВИТЬ

      a(href="#")
        .scroll-up
      .content-wrapper
        .redline
        .header
          .content
            .head
              .logo-area
                .logo-image
                .logo-texts
                  .logo-primary
                    // | ЛАНТИС
                  .logo-secondary
                    | Практичность и надежность
              a(href="#")
              .feedback-area
                .feedback-button
                  .feedback-button-icon
                  .feedback-button-text
                    | Заказать звонок
                .feedback-info
                  .feedback-phone
                    | +7 (495) 419-08-15
                  .feedback-email
                    | ppdoor.zakaz@gmail.com
            .navigation
              li(class="navigation-label")
                a(href="#") Главная
              li(class="navigation-label")
                a(href="#" class="selected") Продукция
              li(class="navigation-label")
                a(href="#") Производство
              li(class="navigation-label")
                a(href="#") Доставка и монтаж
              li(class="navigation-label")
                a(href="#") Сертификаты
              li(class="navigation-label")
                a(href="#") Проекты и отзывы
              li(class="navigation-label")
                a(href="#") Контакты
              li(class="navigation-helper")
          .blueline
          .navigation-structure
            .content
              include menu
        block content
         .content
          include news
          include goodsCard
          include advert
          include mainDescription
          include paginator
          include productVertical
          include ourClients
          include ourJobs
          include product

      .navigation.footer
        .lightblueline
          .content
            div(class="navigation-footer")
              li(class="navigation-label")
                a(href="#") Главная
              li(class="navigation-label")
                a(href="#" class="selected") Продукция
              li(class="navigation-label")
                a(href="#") Производство
              li(class="navigation-label")
                a(href="#") Доставка и монтаж
              li(class="navigation-label")
                a(href="#") Сертификаты
              li(class="navigation-label")
                a(href="#") Проекты и отзывы
              li(class="navigation-label")
                a(href="#") Контакты
              li(class="navigation-helper")
      .foot
        .content
          .logo-area
            .logo-image.footer
            .logo-texts
              .logo-primary.footer
              .logo-secondary
                | Практичность и надежность
          .feedback-area
            .feedback-work-time
              | © Ооо «Лантис», 2016
            a(href="#")
              .feedback-button
                .feedback-button-icon.question
                .feedback-button-text
                  | Задать вопрос
            .feedback-info
              .feedback-work-time
                | Работаем пн. - пт. с 9 до 18
              .feedback-email
                | ppdoor.zakaz@gmail.com
