doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .redline
    .header
      .content
        .head
          .logo-area
            .logo-image
            .logo-texts
              .logo-primary
              .logo-secondary
          .feedback-area
            .feedback-info
              .feedback-phone
              .feedback-email
            .feedback-button
        block content
