doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .redline
    .header
      .content
        .head
          .logo-area
            .logo-image
            .logo-texts
              .logo-primary
                // | ЛАНТИС
              .logo-secondary
                | Практичность и надежность
          .feedback-area
            .feedback-button
              .feedback-button-icon
              .feedback-button-text
                | Заказать звонок
            .feedback-info
              .feedback-phone
                | +7 (495) 419-08-15
              .feedback-email
                | ppdoor.zakaz@gmail.com
        block content
