.main-description-container
  .main-description-column-left
    .main-description-text
      |  ООО "Лантис" имеет более чем десятилетний опыт
      |  изготовления металлических дверей. Постоянно наращивая
      |  производственные мощности мы уверенно движемся
      |  по пути максимального удовлетворения возрастающих
      |  потребностей наших клиентов. Внимательное и
      |  доброжелательное отношение к любому заказчику, полная
      |  информация о запрашиваемом предмете,
      |  квалифицированная помощь в определении необходимой
      |  комплектации - все это гарантировано всем позвонимшим
      |  и посетившим нас клиентам.
  .main-description-column-right
    .main-description-column-right-title Виды противопожарных дверей:
    .main-description-bordered-buttons
      .main-description-bordered-text однопольные
      .main-description-bordered-text двупольные
    .main-description-text
      | Оба типа могут быть глухими или с остеклением, с порогом или без него. Для двупольных моделей предусмотрена правая и левая навеска главного полотна.
      br
      | В дверной коробке имеется теплоизоляционный материал (базальт), обеспечивающий необходимую тепло и звукоизоляцию.

.main-page-image-container
  .main-page-image(style="background-image: url('/images/main-page-big-image.png')")
  .main-page-image-text
    | 10 ЛЕТ НА РЫНКЕ ДВЕРЕЙ
    br
    | &nbsp;
.main-page-image-container
  .main-page-image(style="background-image: url('/images/main-page-big-image.png')")
  .main-page-image-text МНОГОСТУПЕНЧАТЫЙ КОНТРОЛЬ КАЧЕСТВА
.main-page-image-container
  .main-page-image(style="background-image: url('/images/main-page-big-image.png')")
  .main-page-image-text Гарантия производителя
.main-page-image-container
  .main-page-image(style="background-image: url('/images/main-page-big-image.png')")
  .main-page-image-text СОБСТВЕННОЕ КОНСТРУКТОРСКОЕ БЮРО
