.news-container
  .news-image(style="background-image: url('/images/news.png')")
  .news-info
    .news-title
      | Обновлено производство противопожарных дверей
    .news-date
      | 20 августа 2016
    .news-text
      | Противопожарные двери изготавливаются из прочной высококачественной стали,
      | обладают превосходными протекционными характеристиками и
      | шумоизоляционными свойствами. Их поверхность покрыта антикоррозионной
      | порошковой краской, которая вспучивается при контакте с пламенем и создает
      | теплоизоляционный барьер.
    .news-more-button
      a(href="#") Подробнее
.news-container
  .news-image(style="background-image: url('/images/news.png')")
  .news-info
    .news-title
      | Обновлено производство противопожарных дверей
    .news-date
      | 20 августа 2016
    .news-text
      | Противопожарные двери изготавливаются из прочной высококачественной стали,
      | обладают превосходными протекционными характеристиками и
      | шумоизоляционными свойствами. Их поверхность покрыта антикоррозионной
      | порошковой краской, которая вспучивается при контакте с пламенем и создает
      | теплоизоляционный барьер.
    .news-more-button
      a(href="#") Подробнее