.our-clients-label
  | Наши клиенты
.our-clients-image-wrapper
  .our-clients-arrow
    .our-clients-previous
  .our-clients-images
    .our-clients-image(style="background-image: url('/images/leroy.png')")
    .our-clients-image(style="background-image: url('/images/leroy.png')")
    .our-clients-image(style="background-image: url('/images/leroy.png')")
    .our-clients-image(style="background-image: url('/images/leroy.png')")
  .our-clients-arrow
    .our-clients-next