.our-clients-label
  | Наши работы
.our-clients-image-wrapper.jobs
  .our-clients-arrow
    .our-clients-previous
  .our-clients-images
    .our-jobs-image(style="background-image: url('/images/job.png')")
    .our-jobs-image(style="background-image: url('/images/job.png')")
    .our-jobs-image(style="background-image: url('/images/job.png')")
  .our-clients-arrow
    .our-clients-next