.paginator-container
  .paginator-item
    .paginator-arrow.left
  .paginator-item
    a.paginator-text 1
  .paginator-item.selected
    a.paginator-text 2
  .paginator-item
    a.paginator-text 3
  .paginator-item
    a.paginator-text 4
  .paginator-item
    a.paginator-text 5
  .paginator-item
    .paginator-arrow.right