.product-vertical-wrapper
  .product-vertical-image(style="background-image: url('/images/product2.png')")
  .product-vertical-full-description
    | Доставка и установка: 2 500 руб.
  .product-vertical-description
    | Однопольные глухие противопожарные двери
  .product-vertical-info
    .product-vertical-price
      | от 8 800 руб.
    .product-vertical-installation-price
      | Доставка и установка: 2 500 руб.
