.products
  a(href="#").product-demo(style="background-image: url('/images/product1.png')")
    .product-tab Противопожарные двери
  a(href="#").product-demo(style="background-image: url('/images/product1.png')")
    .product-tab Противопожарные двери
  a(href="#").product-demo(style="background-image: url('/images/product1.png')")
    .product-tab Противопожарные двери
  a(href="#").product-demo(style="background-image: url('/images/product1.png')")
    .product-tab Противопожарные двери
  a(href="#").product-demo(style="background-image: url('/images/product1.png')")
    .product-tab Противопожарные двери
  a(href="#").product-demo(style="background-image: url('/images/product1.png')")
    .product-tab Противопожарные двери
  a(href="#").product-demo(style="background-image: url('/images/product1.png')")
    .product-tab Противопожарные двери
  a(href="#").product-demo(style="background-image: url('/images/product1.png')")
    .product-tab Противопожарные двери