.product-vertical-wrapper
  .product-vertical-image(style="background-image: url('images/product2.png')")
    .product-vertical-full-description
      | Ширина от 350 мм
      br
      | Высота от 1200 мм
      br
      | Толщина полотна 70мм
      br
      | Вес 70 кг
      br
      | Цвет по каталогу RAL
      br
      | Замок Nemef
      br
      | Фурнитура Nemef
  .product-vertical-description
    | Однопольные глухие противопожарные двери
  .product-vertical-info
    .product-vertical-price
      | от 8 800 руб.
    .product-vertical-installation-price
      | Доставка и установка: 2 500 руб.
