body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  /*color: #00B7FF;*/
}

.redline {
  height: 5px;
  background-color: rgba(180, 66, 66, 1);;
}

.blueline {
  height: 10px;
  background-color: rgba(1, 91, 126, 1);
}

.lightblueline {
  /*height: 10px;*/
  background-color: rgba(73, 162, 237, 1);
}

.header {
  height: 156px;
  /*height: 140px;*/
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.head {
  padding-top: 21px;
}

.logo-area {
  height: 59px;
  width: 280px;
  display: inline-block;
}

.logo-image {
  height: 59px;
  width: 59px;
  background-image: url('/images/logo.png');
  float: left;
}

.logo-image.footer {
  background-image: url('/images/logo-white.png');
}

.logo-texts {
  float: left;
  margin: 7px;
}

.feedback-work-time {
  /*height: 13px;*/
  /*width: 172px;*/
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  float: left;
  text-transform: uppercase;
}

.feedback-area {
  float: right;
  display: inline-block;
  width: calc(100% - 280px);
}

.feedback-info {
  display: inline-block;
  margin-right: 19px;
  float: right;
}

.feedback-phone {
  font-family: Open Sans;
  font-size: 21px;
  color: rgba(1, 91, 126, 1);
  /*text-align: left;*/
  text-align: right;
}

.feedback-email {
  /*margin-top: 5px;*/
  height: 16px;
  /*width: 179px;*/
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(73, 162, 237, 1);
  text-align: right;
}

.feedback-button {
  background-color: rgba(180, 66, 66, 1);
  height: 47px;
  width: 227px;
  display: inline-block;
  border-bottom: solid 2px rgba(1, 91, 126, 1);
  float: right;
}

.feedback-button-icon {
  height: 24px;
  width: 24px;
  background-image: url('/images/call.png');
  float: left;
  color: white;
  margin: 13px 13px 10px 19px;
}

.feedback-button-icon.question {
  background-image: url('/images/question.png');
}

.feedback-button-text {
  /*height: 12px;*/
  /*width: 151px;*/
  font-family: Open Sans;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  margin-top: 13px;
  text-transform: uppercase;
}

.logo-secondary {
  /*height: 11px;*/
  /*width: 191px;*/
  font-family: Open Sans;
  font-size: 12px;
  color: rgba(73, 162, 237, 1);
  text-align: left;
  letter-spacing: 0.08em;
  /*letter-spacing: 0.07em;*/
}
.logo-primary {
  height: 30px;
  width: 190px;
  /*font-family: ;*/
  /*font-size: 50px;*/
  font-size: 30px;
  color: rgba(1, 91, 126, 1);
  text-align: left;
  letter-spacing: 0.07em;
  /*line-height: 6px;*/
  background-image: url('/images/logo-primary.png');
}
.logo-primary.footer {
  background-image: url('/images/logo-primary-white.png');
}

.content {
  margin: auto;
  max-width: 960px;
  width: 100%;
}

.navigation-structure {
  margin-top: 2px;
  height: 34px;
  background-color: rgba(73, 162, 237, 1);
}

.navigation {
  /*padding-top: 15px;*/
  /*padding-bottom: 10px;*/
  padding-left: 0;
  text-transform: uppercase;
  color: rgba(1, 91, 126, 1);
  text-align: justify;
}

.navigation a {
  color: rgba(1, 91, 126, 1);
  text-decoration: none;
  position: relative;
}
.navigation.footer a.selected:after {
  position: absolute;
  background-image: url('/images/triangle.png');
  background-color: transparent;
  content: '';
  height: 14px;
  width: 27px;
  left: calc(50% - 13px);
  top: 16px;
}

.navigation a.selected:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 100%;
  background-image: none;
  background-color: rgba(180, 66, 66, 1);
  left: 0;
  top: 16px;
}

.navigation-helper {
  width: 100%;
  height: 0;
  visibility: hidden;
}
.navigation-label {
  display: inline-block;
  text-align: left;
  padding-right: 29px;
  padding-top: 14px;
  /*padding-bottom: 13px;*/
  padding-bottom: 10px;
}

.navigation.footer .navigation-label {
  padding-bottom: 13px;
}

.navigation.footer a {
  color: white;
  text-decoration: none;
}

.navigation-footer {
  padding-left: 0;
}

.foot {
  background-color: rgba(1, 91, 126, 1);
  padding-top: 21px;
  height: 98px;
}
