body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}

.redline {
  height: 5px;
  background-color: rgba(180, 66, 66, 1);;
}

.header {
  height: 156px;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.head {
  padding-top: 21px;
}

.logo-area {
  height: 59px;
  width: 280px;
  display: inline-block;
}

.logo-image {
  height: 59px;
  width: 59px;
  /*background-color: rgba(1, 91, 126, 1);*/
  /*border-radius: 58px;*/
  background-image: url('/images/logo.png');
  float: left;
}

.logo-texts {
  float: left;
  margin: 7px;
}

.feedback-area {
  float: right;
  display: inline-block;
  width: calc(100% - 280px);
}

.feedback-info {
  display: inline-block;
  margin-right: 19px;
  float: right;
}

.feedback-phone {
  font-family: Open Sans;
  font-size: 21px;
  color: rgba(1, 91, 126, 1);
  /*text-align: left;*/
  text-align: right;
}

.feedback-email {
  /*margin-top: 5px;*/
  height: 16px;
  /*width: 179px;*/
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(73, 162, 237, 1);
  text-align: right;
}

.feedback-button {
  background-color: rgba(180, 66, 66, 1);
  height: 47px;
  width: 227px;
  display: inline-block;
  border-bottom: solid 2px rgba(1, 91, 126, 1);
  float: right;
}

.feedback-button-icon {
  height: 24px;
  width: 24px;
  background-image: url('/images/call.png');
  float: left;
  color: white;
  margin: 13px 13px 10px 19px;
}

.feedback-button-text {
  /*height: 12px;*/
  /*width: 151px;*/
  font-family: Open Sans;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  margin-top: 13px;
  text-transform: uppercase;
}

.logo-secondary {
  /*height: 11px;*/
  /*width: 191px;*/
  font-family: Open Sans;
  font-size: 12px;
  color: rgba(73, 162, 237, 1);
  text-align: left;
  letter-spacing: 0.08em;
  /*letter-spacing: 0.07em;*/
}
.logo-primary {
  height: 30px;
  width: 190px;
  /*font-family: ;*/
  /*font-size: 50px;*/
  font-size: 30px;
  color: rgba(1, 91, 126, 1);
  text-align: left;
  letter-spacing: 0.07em;
  /*line-height: 6px;*/
  background-image: url('/images/logo-primary.png');
}

.content {
  margin: auto;
  max-width: 960px;
  width: 100%;
}
