body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  /*color: #00B7FF;*/
}

.background {
  position: relative;
}

.modal {
  display: none;
}

.modal.show {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20;
}

.modal-input {
  height: 30px;
  width: 227px;
  border: 1px solid rgba(48, 134, 206, 1);

  font-family: Open Sans;
  font-size: 15px;
  color: rgba(73, 162, 237, 1);
  text-align: left;
  text-indent: 10px;
  margin-bottom: 10px;
  /*::-webkit-input-placeholder {color: rgba(73, 162, 237, 1);}*/
  /*::-moz-placeholder          {color: rgba(73, 162, 237, 1);}!* Firefox 19+ *!*/
  /*:-moz-placeholder           {color: rgba(73, 162, 237, 1);}!* Firefox 18- *!*/
  /*:-ms-input-placeholder      {color: rgba(73, 162, 237, 1);}*/
}

textarea.modal-input {
  height: 70px;
  width: 227px;
  border: 1px solid rgba(48, 134, 206, 1);
  resize: none;
}

.modal-footer {
  height: 94px;
  width: 100%;
  background-color: white;
}

.modal-button-container {
  padding-top: 22px;
}

.modal-button {
  background-color: rgba(180, 66, 66, 1);
  height: 47px;
  width: 227px;

  font-family: Open Sans;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 9px;
}

.modal-title {
  font-family: Open Sans;
  font-size: 20px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.modal-question-image {
  height: 65px;
  width: 65px;
  margin: 0 auto;
  padding-top: 23px;
  padding-bottom: 23px;
  background-image: url('/images/l-question.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-form {
  height: 412px;
  width: 480px;
  background-color: #49A2ED;
  margin: 175px auto 0;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.modal-header {
  border-bottom: solid rgba(1, 91, 126, 1) 3px;
}

.scroll-up {
  position: fixed;
  z-index: 19;
  right: 20px;
  bottom: 157px;
  height: 60px;
  width: 60px;
  background-color: rgba(1, 91, 126, 1);
  background-repeat: no-repeat;
  background-image: url('/images/arrow-up.png');
  background-position: center;
}

/* 141 */
.content-wrapper {
  min-height: calc(100vh - 155px);
}

.redline {
  height: 5px;
  background-color: rgba(180, 66, 66, 1);
}

.blueline {
  height: 10px;
  background-color: rgba(1, 91, 126, 1);
}

.lightblueline {
  /*height: 10px;*/
  background-color: rgba(73, 162, 237, 1);
}

.header {
  height: 156px;
  /*height: 140px;*/
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

.page-title {
  font-family: Open Sans;
  font-size: 25px;
  color: rgba(66, 66, 66, 1);
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.head {
  padding-top: 21px;
}

.logo-area {
  height: 59px;
  width: 280px;
  display: inline-block;
}

.logo-image {
  height: 59px;
  width: 59px;
  background-image: url('/images/logo.png');
  float: left;
}

.logo-image.footer {
  background-image: url('/images/logo-white.png');
}

.logo-texts {
  float: left;
  margin: 7px;
}

.feedback-work-time {
  /*height: 13px;*/
  /*width: 172px;*/
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  float: left;
  text-transform: uppercase;
}

.feedback-area {
  float: right;
  display: inline-block;
  width: calc(100% - 280px);
}

.feedback-info {
  display: inline-block;
  margin-right: 19px;
  float: right;
}

.feedback-phone {
  font-family: Open Sans;
  font-size: 21px;
  color: rgba(1, 91, 126, 1);
  /*text-align: left;*/
  text-align: right;
}

.feedback-email {
  /*margin-top: 5px;*/
  height: 16px;
  /*width: 179px;*/
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(73, 162, 237, 1);
  text-align: right;
}

.feedback-button {
  background-color: rgba(180, 66, 66, 1);
  height: 47px;
  width: 227px;
  display: inline-block;
  border-bottom: solid 2px rgba(1, 91, 126, 1);
  float: right;
}

.feedback-button-icon {
  height: 24px;
  width: 24px;
  background-image: url('/images/l-phone.png');
  float: left;
  color: white;
  margin: 13px 13px 10px 19px;
}

.feedback-button-icon.question {
  background-image: url('/images/l-question.png');
}

.feedback-button-text {
  /*height: 12px;*/
  /*width: 151px;*/
  font-family: Open Sans;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  margin-top: 13px;
  text-transform: uppercase;
}

.logo-secondary {
  /*height: 11px;*/
  /*width: 191px;*/
  font-family: Open Sans;
  font-size: 12px;
  color: rgba(73, 162, 237, 1);
  text-align: left;
  letter-spacing: 0.08em;
  /*letter-spacing: 0.07em;*/
}
.logo-primary {
  height: 30px;
  width: 190px;
  /*font-family: ;*/
  /*font-size: 50px;*/
  font-size: 30px;
  color: rgba(1, 91, 126, 1);
  text-align: left;
  letter-spacing: 0.07em;
  /*line-height: 6px;*/
  background-image: url('/images/logo-primary.png');
}

.logo-primary.footer {
  background-image: url('/images/logo-primary-white.png');
}

.content {
  margin: auto;
  max-width: 960px;
  width: 100%;
}

.navigation-structure {
  margin-top: 2px;
  height: 34px;
  background-color: rgba(73, 162, 237, 1);
}

.navigation {
  /*padding-top: 15px;*/
  /*padding-bottom: 10px;*/
  padding-left: 0;
  text-transform: uppercase;
  color: rgba(1, 91, 126, 1);
  text-align: justify;
}

.navigation a {
  color: rgba(1, 91, 126, 1);
  text-decoration: none;
  position: relative;
}
.navigation.footer a.selected:after {
  position: absolute;
  background-image: url('/images/triangle.png');
  background-color: transparent;
  content: '';
  height: 14px;
  width: 27px;
  left: calc(50% - 13px);
  top: 16px;
}

.navigation a.selected:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 100%;
  background-image: none;
  background-color: rgba(180, 66, 66, 1);
  left: 0;
  top: 16px;
}

.navigation-helper {
  width: 100%;
  height: 0;
  visibility: hidden;
}
.navigation-label {
  display: inline-block;
  text-align: left;
  padding-right: 29px;
  padding-top: 14px;
  /*padding-bottom: 13px;*/
  padding-bottom: 6px;
}

.navigation.footer .navigation-label {
  padding-bottom: 13px;
}

.navigation.footer a {
  color: white;
  text-decoration: none;
}

.navigation-footer {
  padding-left: 0;
}

.foot {
  background-color: rgba(1, 91, 126, 1);
  padding-top: 21px;
  height: 98px;
  box-sizing: border-box;
}

/* ---------- additional styling ------------ */
.our-clients-label {
  font-family: Open Sans;
  font-size: 25px;
  color: rgba(33, 33, 33, 1);
  text-align: center;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.our-clients-image-wrapper {
  /*margin: 0 auto;*/
  margin-bottom: 20px;
  text-align: center;
  height: 150px;
}
.our-clients-image-wrapper.jobs {
  height: 183px;
}

.our-clients-next {
  background-image: url('/images/arrow-next-active.png');
}

.our-clients-previous {
  background-image: url('/images/arrow-previous.png');
}

.our-clients-images {
  display: inline-block;
}

.our-clients-next,.our-clients-previous,.list-arrow {
  height: 36px;
  width: 21px;
  position: absolute;
  top: calc(50% - 18px);
}

.our-clients-arrow {
  /*height: 36px;*/
  height: 100%;
  width: 21px;
  display: inline-block;
  position: relative;
}

.our-clients-image {
  display: inline-block;
  height: 132px;
  width: 164px;
  margin-right: 20px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.our-jobs-image {
  display: inline-block;
  height: 180px;
  width: 286px;
  margin-right: 7px;
  margin-left: 7px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.our-jobs-image:hover:after {
  background-color: rgba(180, 66, 66, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  content: '';
  text-align: center;
  color: white;
  z-index: 5;
}

.product-demo {
  height: 180px;
  width: 310px;
  position: relative;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.product-demo:after {
  position: absolute;
  content: '';
  background-color: #c2e6ff;
  opacity: 0.4;
  top: 0;
  bottom: 36px;
  width: 100%;
}

.product-demo:hover:after {
  opacity: 0;
}
.product-tab {
  width: 100%;
  bottom: 0;
  /*height: 36px;*/
  position: absolute;
  color: white;
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(1, 91, 126, 1);
  padding-top: 11px;
  padding-bottom: 9px;
}

.product-demo:hover .product-tab {
  background-color: rgba(180, 66, 66, 1);
}

/* ---------- product vertical ------------------- */
.product-vertical-wrapper {
  width: 225px;
  position: relative;
}
.product-vertical-image {
  height: 288px;
  background-repeat: no-repeat;
  background-position: center;
}

.product-vertical-description {
  background-color: rgba(1, 91, 126, 1);
  color: white;
  font-family: Open Sans;
  font-size: 15px;
  text-align: center;
  padding: 10px 0;
}

.product-vertical-info {
  background-color: rgba(73, 162, 237, 0.2);
  text-align: center;
  padding: 10px 0;
}

.product-vertical-price {
  font-family: Open Sans;
  font-size: 25px;
  color: rgba(1, 91, 126, 1);
}

.product-vertical-installation-price {
  font-family: Open Sans;
  font-size: 13px;
  color: rgba(1, 91, 126, 1);
}

.product-vertical-wrapper:hover:after {
  position: absolute;
  content: '';
  height: 288px;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0, 0.7);
  z-index: 5;
}

.product-vertical-wrapper:hover .product-vertical-description {
  background-color: rgba(180, 66, 66, 1);
}

.product-vertical-full-description {
  display: none;

  font-family: Open Sans;
  font-size: 13px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 20px;
}

.product-vertical-wrapper:hover .product-vertical-full-description {
  /*background-color: rgba(180, 66, 66, 1);*/
  display: block;
  position: absolute;
  color: white;
  z-index: 10;
  padding-top: 25px;
  padding-left: 25px;
}

/* ---------- paginator ---------- */
.paginator-item {
  background-color: rgba(73, 162, 237, 0.1);
  color: rgba(1, 91, 126, 1);
  height: 30px;
  width: 30px;
  padding-top: 7px;
  text-align: center;
  font-size: 15px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 5px;
}

.paginator-item.selected {
  background-color: rgba(1, 91, 126, 1);;
  color: white;
}

.paginator-arrow {
  height: 12px;
  width: 13px;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
  display: inline-block;
}

.paginator-arrow.left {
  background-image: url('/images/pagination-left.png');
}

.paginator-arrow.right {
  background-image: url('/images/pagination-right.png');
}

.paginator-container {
  margin: 0 auto;
  text-align: center;
}

/* --------- main-image ---------- */
.main-image-container {
  height: 309px;
  width: 960px;
  padding-top: 30px;
  padding-left: 57px;
  background-image: url('/images/main-advert.png');
  background-position: center;
  background-size: contain;
  position: relative;
  box-sizing: border-box;
}

.main-image-arrow {
  width: 40px;
  height: 100%;
  position: absolute;
  background-color: rgba(180, 66, 66, 0.2);
  background-position: center;
  background-repeat: no-repeat;
}
.main-image-arrow:hover {
  background-color: rgba(180, 66, 66, 1);
}

.main-image-arrow.left {
  left: 0;
  top: 0;
  background-image: url('/images/main-advert-arrow-left.png');
}

.main-image-arrow.right {
  left: 100%;
  top: 0;
  background-image: url('/images/main-advert-arrow-right.png');
}

.main-image-title {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 20px;
}

.main-image-text {
  margin-top: 25px;
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 20px;
}

.main-image-buy {
  margin-top: 106px;
  background-color: rgba(180, 66, 66, 1);
  height: 42px;
  width: 147px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 12px;

  font-family: Open Sans;
  font-size: 17px;
  line-height: 20px;
}

.main-image-buy a {
  text-decoration: none;
  color: white;
}

/* -------- goods card ------------ */
.goods-image-column {
  width: 460px;
  float: left;
  height: auto;
}

.goods-description-column {
  float: left;
  width: calc(100% - 460px - 20px);
  margin-left: 20px;
}

.goods-card-big-image {
  height: 320px;
  width: 100%;
  position: relative;
}

.goods-card-container {
  overflow: auto;
}

.goods-arrow {
  width: 40px;
  height: 100%;
  position: absolute;
  /*background-color: rgba(180, 66, 66, 0.2);*/
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.goods-arrow:hover {
  /*background-color: rgba(180, 66, 66, 1);*/
}

.goods-arrow.left {
  left: 0;
  top: 0;
  background-image: url('/images/main-advert-arrow-left.png');
}

.goods-arrow.right {
  right: 0;
  top: 0;
  background-image: url('/images/arrow-next-active.png');
}

.goods-image-list {
  padding-top: 20px;
}

.goods-small-image {
  padding-top: 20px;
  height: 102px;
  width: 150px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.goods-small-image.center {
  margin-right: 5px;
  margin-left: 5px;
}

.goods-table {
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(66, 66, 66, 1);
  text-align: left;
  line-height: 25px;
  float: left;
}

.goods-table td {
  padding-top: 8px;
  padding-bottom: 8px;
}
.goods-table tbody tr:nth-child(even) {
  background-color: white;
}

.goods-table tbody tr:nth-child(odd) {
  background-color: rgba(73, 162, 237, 0.2);
}

.goods-table tbody td:nth-child(odd) {
  width: 60%;
  padding-left: 7px;
}

.goods-price-container {
  width: 173px;
  text-align: center;
  float: right;
}

.goods-textual-description {
  /*Text styles for Противопож */
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(66, 66, 66, 1);
  text-align: left;
  line-height: 20px;
}

.goods-textual-description-container {
  margin-top: 33px;
  width: 464px;
}
.goods-textual-description-title {
  font-family: Open Sans;
  font-size: 23px;
  color: rgba(1, 91, 126, 1);
  text-align: left;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.goods-price-title {
  font-family: Open Sans;
  font-size: 25px;
  font-weight: bold;
  color: rgba(180, 66, 66, 1);
  line-height: 20px;
}

.goods-price-discount {
  margin-top: 16px;
  font-family: Open Sans;
  font-size: 13px;
  color: rgba(117, 117, 117, 1);
  text-align: center;
}
.goods-price-discount span {
  color: rgba(180, 66, 66, 1);
}

.goods-price-button {
  margin-top: 16px;
  background-color: rgba(180, 66, 66, 1);
  height: 42px;
  color: white;
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;

  /*line-height: 20px;*/
  font-family: Open Sans;
  font-size: 16px;
}

.goods-price-container a {
  text-decoration: none;
}

/* --------- news ----------- */
.news-container {
  overflow: auto;
  height: 204px;
  margin-bottom: 20px;
}

.news-container:nth-child(even) {
  overflow: auto;
  height: 204px;
  background-color: rgba(73, 162, 237, 0.1);
}

.news-image {
  height: 100%;
  width: 310px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  float: left;
}

.news-info {
  padding-left: 14px;
  text-align: left;
  font-family: Open Sans;
  width: calc(100% - 310px);
  float: right;
  box-sizing: border-box;
}

.news-title {
  margin-top: 9px;
  font-size: 22px;
  color: rgba(1, 91, 126, 1);
  line-height: 20px;
}

.news-date {
  font-size: 15px;
  color: rgba(73, 162, 237, 1);
  line-height: 20px;
}

.news-text {
  font-size: 15px;
  color: rgba(66, 66, 66, 1);
  line-height: 20px;
  margin: 12px auto 8px auto;
  height: 97px;
  overflow: hidden;
}

.news-more-button {
  background-color: rgba(73, 162, 237, 1);
  height: 38px;
  width: 155px;
  color: white;
  text-align: center;
  padding-top: 9px;
  box-sizing: border-box;
  text-transform: uppercase;
}

.news-more-button a {
  text-decoration: none;
  color: white;
}

/* -------- menu --------- */
.menu-container {
  padding-top: 7px;
}

.menu-item {
  font-family: Open Sans;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  border-right: solid thin white;
  padding-right: 7px;
  padding-left: 5px;
  display: inline-block;
}

.menu-item:last-child {
  font-family: Open Sans;
  font-size: 14px;
  color: rgba(1, 91, 126, 1);
  text-align: left;
  padding-right: 0;
  text-decoration: none;
  border-right: none;
}

.menu-home {
  height: 18px;
  width: 20px;
  background-image: url('/images/l-home.png');
  background-position: center;
  background-repeat: no-repeat;
  float: left;
}

/* --------- main --------- */
.main-description-container {
  overflow: auto;
}

.main-description-text {
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(66, 66, 66, 1);
  text-align: left;
  line-height: 20px;
}

.main-description-bordered-text {
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(1, 91, 126, 1);
  line-height: 20px;

  display: inline-block;
  height: 35px;
  width: 230px;
  border: 1px solid rgba(73, 162, 237, 1);
  text-transform: uppercase;
  text-align: center;
  padding-top: 6px;
  box-sizing: border-box;
}

/*.main-description-bordered-buttons:last-child {*/
.main-description-bordered-text:last-child {
  /*margin-left: 20px;*/
  margin-left: 19px;
}

.main-description-column-left {
  width: 447px;
  margin-right: 30px;
  float: left;
}

.main-description-column-right-title {
  margin-bottom: 14px;

  font-family: Open Sans;
  font-size: 18px;
  color: rgba(180, 66, 66, 1);
  text-align: left;
  line-height: 20px;
}

.main-page-image-container {
  display: inline-block;
  margin-right: 65px;
  /*margin-right: 72px;*/
}

.main-page-image-container:last-child {
  margin-right: 0;
}

.main-page-image-text {
  color: rgba(1, 91, 126, 1);
  text-transform: uppercase;
  max-width: 193px;
  height: 32px;
  text-align: center;
}

.main-page-image {
  height: 171px;
  width: 171px;
  border-radius: 171px;
  background-color: rgba(1, 91, 126, 1);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 17px;
  margin-left: auto;
  margin-right: auto;
}

.main-page-image-container:hover .main-page-image{
  background-color: rgba(180, 66, 66, 1);
}

.main-page-image-container:hover .main-page-image-text{
  color: rgba(180, 66, 66, 1);
}

.contacts-text {
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(66, 66, 66, 1);
  text-align: left;
  line-height: 25px;
}

.contacts-text span {
  font-family: Open Sans;
  font-size: 15px;
  color: rgba(73, 162, 237, 1);
  text-align: left;
  line-height: 25px;
}

.contacts-image {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: solid rgba(73, 162, 237, 1) 3px;
  border-top: solid rgba(73, 162, 237, 1) 3px;
  height: 330px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/images/map.png');
}

.certificate-image {
  height: 302px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.certificate-container {
  width: 216px;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 32px;
}
.certificate-container:last-child {
  margin-right: 0;
}

.certificate-text {
  font-family: Open Sans;
  font-size: 15px;
  font-style: italic;
  color: rgba(66, 66, 66, 1);
  text-align: center;
}
