extends ../layout

block content
  .page-title Сертификаты

  div
    .certificate-container
      .certificate-image(style="background-image: url('/images/certificate.png')")
      .certificate-text Сертификат соответствия С-RU.ПБ57.В.01801
    .certificate-container
      .certificate-image(style="background-image: url('/images/certificate.png')")
      .certificate-text Сертификат соответствия С-RU.ПБ57.В.01801
    .certificate-container
      .certificate-image(style="background-image: url('/images/certificate.png')")
      .certificate-text Сертификат соответствия С-RU.ПБ57.В.01801
    .certificate-container
      .certificate-image(style="background-image: url('/images/certificate.png')")
      .certificate-text Сертификат соответствия С-RU.ПБ57.В.01801
  div
    .certificate-container
      .certificate-image(style="background-image: url('/images/certificate.png')")
      .certificate-text Сертификат соответствия С-RU.ПБ57.В.01801
    .certificate-container
      .certificate-image(style="background-image: url('/images/certificate.png')")
      .certificate-text Сертификат соответствия С-RU.ПБ57.В.01801
    .certificate-container
      .certificate-image(style="background-image: url('/images/certificate.png')")
      .certificate-text Сертификат соответствия С-RU.ПБ57.В.01801
  div
    .certificate-container
      .certificate-image(style="background-image: url('/images/certificate.png')")
      .certificate-text Сертификат соответствия С-RU.ПБ57.В.01801
    .certificate-container
      .certificate-image(style="background-image: url('/images/certificate.png')")
      .certificate-text Сертификат соответствия С-RU.ПБ57.В.01801
  div(style="margin-bottom: 30px")
  include ../ourClients