extends ../layout

block content
  .page-title Контакты
  .contacts-text Общество с ограниченной ответственностью «Лантис»
  .contacts-text ИНН 5035042040, КПП 503501001 ОГРН 1125035002388
  .contacts-text Тел/факс +7 (495) 419-08-15, тел +7 (495) 567-67-81
  .contacts-text E-mail:
    span ppdoor.zakaz@gmail.com
  .contacts-text 142520, Московская область, Павлово-Посадский район, село Рахманово, д. 8 «В»
  .contacts-image
  include ../ourClients