extends ../layout

block content
  .content
    .page-title Однопольные глухие противопожарные двери
    include ../goodsCard

  div(style="margin: 30px auto 0px; background-color: rgba(73, 162, 237, 0.2); padding: 20px 0")
    include ../ourJobs