extends ../layout

block content
  .content
    .page-title Обновлено производство противопожарных дверей
    .product-page-product-container
      .product-page-image(style="background-image: url('/images/door.png')")
      .product-page-text
        .news-date 20 августа 2016
        | Противопожарные двери изготавливаются из прочной высококачественной стали,
        | обладают превосходными протекционными характеристиками и
        | шумоизоляционными свойствами. Их поверхность покрыта антикоррозионной
        | порошковой краской, которая вспучивается при контакте с пламенем и создает
        | теплоизоляционный барьер.
        br
        br
        | Задача организации, в особенности же начало повседневной работы по
        | формированию позиции требуют от нас анализа форм развития. Не следует, однако
        | забывать, что реализация намеченных плановых заданий обеспечивает развитие.
    br
    .product-page-text
      | Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности требуют определения и уточнения систем массового участия. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности играет важную роль в формировании форм развития. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание систем массового участия. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности требуют от нас анализа существенных финансовых и административных условий.
    br
    br
    .product-page-product-container
      .product-page-text.floatleft
        | Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности позволяет выполнять важные задания по разработке систем массового участия. Товарищи! новая модель организационной деятельности влечет за собой процесс внедрения и модернизации систем массового участия. Товарищи! сложившаяся структура организации способствует подготовки и реализации дальнейших направлений развития. С другой стороны постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки направлений прогрессивного развития. Задача организации, в особенности же консультация с широким активом в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач.
      .news-page-image-container
        .news-page-image(style="background-image: url('/images/door.png');")
        .image-description Подпись к картинке

    .product-page-product-container
      .content-subtitle Подзаголовок
      .product-page-text Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание дальнейших направлений развития. Таким образом новая модель организационной деятельности играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, что начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации новых предложений.
      .news-big-picture
      .product-page-text Равным образом сложившаяся структура организации влечет за собой процесс внедрения и модернизации форм развития. С другой стороны укрепление и развитие структуры требуют определения и уточнения существенных финансовых и административных условий. Разнообразный и богатый опыт консультация с широким активом позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Товарищи! рамки и место обучения кадров требуют определения и уточнения соответствующий условий активизации.
    div(style="margin-bottom: 32px")