extends ../layout

block content
  .content
    .blue-container
      .page-title Противопожарные двери
      .product-page-text
        | Повседневная практика показывает, что реализация намеченных плановых заданий играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям. С другой стороны начало повседневной работы по формированию позиции в значительной степени обуславливает создание существенных финансовых и административных условий.
    .product-list-container
      include ../productVertical
      include ../productVertical
      include ../productVertical
      include ../productVertical
  div(style="margin: 20px auto 71px")
    include ../paginator
  include ../ourClients