extends ../layout

block content
  .blue-container(style="margin-top: 0;")
    .content
      .page-title Противопожарные двери
      .product-page-product-container
        .product-page-image(style="background-image: url('/images/door.png')")
        .product-page-text
          | Противопожарные двери изготавливаются из прочной высококачественной стали,
          | обладают превосходными протекционными характеристиками и
          | шумоизоляционными свойствами. Их поверхность покрыта антикоррозионной
          | порошковой краской, которая вспучивается при контакте с пламенем и создает
          | теплоизоляционный барьер.
          br
          br
          | Такие изделия не подвергаются механическим повреждениям, надежно защищают
          | от распространения открытого огня и продуктов горения при возникновении
          | пожара, а также создают дополнительное препятствие на пути у злоумышленников.
  .content
    .product-list-container
      include ../productVertical
      include ../productVertical
      include ../productVertical
      include ../productVertical
  div(style="margin: 20px auto 71px")
    include ../paginator
  include ../ourClients